################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.opendb
*.db
*.suo
.vs/
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
Debug/
x64/


