################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.opendb
*.db
*.suo
.vs/
CIE205Project_Code_S2021/CastleDSProject.vcxproj
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
Debug/
x64/